/* Шрифты */

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
}

/* Переменные */

:root {
	--basic-black: #000000;

	--basic-almost-black: #323232;
	--basic-dark: #353535;
	--basic-grey-dark: #5a5a5a;
	--basic-grey: #696969;
	--basic-grey-light: #999999;
	--basic-grey-lighter: #ababab;
	--basic-grey-extra-light: #d3d3d2;
	--basic-almost-white: #ededed;
	--basic-space: #f8f7f4;
	--basic-white: #ffffff;

	--black-alpha-4: rgba(0, 0, 0, 0.4);
	--black-alpha-2: rgba(0, 0, 0, 0.2);
	--black-alpha-07: rgba(0, 0, 0, 0.07);
	--red-alpha-76: rgba(160, 32, 11, 0.76);
	--red-alpha-64: rgba(172, 16, 0, 0.64);
	--red-alpha-3: rgba(232, 77, 55, 0.3);
	--brown-alpha-3: rgba(255, 188, 158, 0.3);
	--blue-alpha-52: rgba(46, 136, 228, 0.52);
	--grey-alpha-52: rgba(178, 178, 178, 0.52);
	--grey-alpha-5: rgba(49, 50, 53, 0.5);
	--grey-alpha-3: rgba(50, 50, 50, 0.3);
	--grey-alpha-2: rgba(50, 50, 50, 0.2);
	--space-alpha-5: rgba(248, 247, 244, 0.5);
	--white-alpha-8: rgba(255, 255, 255, 0.8);
	--white-alpha-7: rgba(255, 255, 255, 0.7);
	--white-alpha-5: rgba(255, 255, 255, 0.5);
	--white-alpha-4: rgba(255, 255, 255, 0.4);
	--white-alpha-2: rgba(255, 255, 255, 0.2);
	--white-alpha-0: rgba(255, 255, 255, 0);

	--special-pink: #fbded7;
	--special-red-light: #f6b5a5;
	--special-coral-light: #ffbc9e;
	--special-coral: #d07058;
	--special-orange-light: #f26843;
	--special-orange: #e74a35;
	--special-orange-bright: #e84d37;
	--special-red: #ac1000;
	--special-brown: #942718;
	--special-sheerice: #ecf1ee;
	--special-ivory: #f8f7f4;

	--bg-green: #849d8f;
	--bg-raspberry: #a3032f;
	--bg-chocolate: #5e361c;
	--bg-waffle: #e8dabd;
}

/* Глобальные стили */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: "Roboto", "Tahoma", sans-serif;
	font-size: 16px;
	line-height: 22px;

	background-color: var(--bg-green);
	color: var(--basic-white);

	padding: 0;
	margin: 0;
}

a {
	color: var(--basic-white);
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 1200px;
	padding-left: 27px;
	padding-right: 27px;
	margin: 0 auto;
}

.list-reset {
	padding: 0;
	margin: 0;

	list-style: none;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	border: 0;
	padding: 0;
	margin: -1px;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.like-btn {
	background: linear-gradient(180deg, var(--special-orange-light) 0%, var(--special-orange) 100%);
	box-shadow: 0px 2px 2px var(--red-alpha-64);

	text-shadow: 0px 2px 5px var(--red-alpha-76);
}

.like-btn:hover,
.like-btn:focus {
	background: linear-gradient(0deg, var(--white-alpha-2), var(--white-alpha-2)),
		linear-gradient(180deg, var(--special-orange-light) 0%, var(--special-orange) 100%);
	box-shadow: 0px 2px 2px var(--special-red);
}

.like-btn:active {
	background: linear-gradient(0deg, var(--black-alpha-07), var(--black-alpha-07)),
		linear-gradient(180deg, var(--special-orange-light) 0%, var(--special-orange) 100%);
	box-shadow: inset 0px 2px 2px var(--special-brown);
}

/* Grid */

html {
	height: 100%;
}

.page {
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;

	min-height: 100%;
}

/* Index */
/* Header */

.header-top-row {
	display: flex;

	padding-top: 9px;
}

.nav__list {
	display: flex;
	flex-wrap: wrap;

	max-width: 405px;
	padding-top: 14px;
	padding-left: 9px;
}

.nav__item {
	border-radius: 26px;
	padding-top: 4px;
	padding-bottom: 5px;
	padding-left: 13px;
	padding-right: 14px;
	margin-right: 7px;
}

.nav__item:hover,
.nav__item:focus-within {
	background: var(--basic-white);
}

.nav__item:hover .nav__link,
.nav__item:focus-within .nav__link {
	color: var(--basic-black);
	border: none;
	outline: none;
}

.nav__item:active {
	background-color: var(--basic-almost-white);
	box-shadow: inset 0px 2px 1px var(--basic-grey);
}

.nav__item--catalog {
	position: relative;
}

.nav__link {
	font-weight: 700;
	line-height: 19px;

	display: inline-flex;

	border-bottom: 1px solid var(--white-alpha-2);
}

.nav__submenu {
	background-color: var(--basic-white);

	position: absolute;
	top: 36px;
	left: -6px;
	z-index: 5;

	display: none;
	flex-wrap: wrap;
	flex-direction: column;

	width: 143px;
	border-radius: 4px;
	padding-bottom: 5px;
	box-shadow: 0px 20px 20px var(--black-alpha-4);
	overflow: hidden;
}

.nav__item--catalog:hover .nav__submenu,
.nav__item--catalog:focus-within .nav__submenu,
.nav__submenu:hover {
	display: flex;
}

.nav__submenu-item a {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;

	color: var(--basic-black);

	display: block;

	border: none;
	padding-top: 8px;
	padding-bottom: 7px;
	padding-left: 21px;
}

.nav__submenu-item a:hover,
.nav__submenu-item a:focus {
	background-color: var(--special-pink);
}

.nav__submenu-item a:active {
	background-color: var(--special-red-light);
}

.nav__submenu-item--new a {
	line-height: 18px;
}

.nav__submenu-item--new::after {
	content: "";
	background-color: var(--grey-alpha-2);

	display: block;

	width: 128px;
	height: 1px;
	margin-left: 5px;
	margin-top: 3px;
	margin-bottom: 4px;
}

.nav__item--current,
.nav__submenu-item a:not([href]) {
	background-color: var(--special-coral);
	color: var(--basic-white);
}

.nav__item--current .nav__link {
	border: none;
}

.header-user {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;

	max-width: 400px;
	padding-top: 14px;
	margin-left: auto;
}

.search__form,
.signin,
.cart__table-wrapper {
	background-color: var(--special-ivory);

	position: absolute;
	top: 36px;
	right: 0;
	z-index: 6;

	border-radius: 4px;
	box-shadow: 0px 20px 20px var(--black-alpha-4);
}

.header-user input,
.header-user input::placeholder {
	font-size: 14px;
	line-height: 16px;
}

.header-user input::placeholder {
	color: var(--basic-grey-light);
	opacity: 1;
}

.header-user input {
	width: 100%;
	border: 1px solid var(--basic-grey-extra-light);
	border-radius: 4px;
	padding-top: 12px;
	padding-bottom: 13px;
	padding-left: 13px;
}

/* не уверена есть ли другой способ чтоб инпуты не прыгали */

.header-user input:hover {
	border: 2px solid var(--basic-grey-extra-light);
	padding-top: 11px;
	padding-bottom: 12px;
	padding-left: 12px;
}

.header-user input:focus {
	border: 2px solid var(--blue-alpha-52);
	padding-top: 11px;
	padding-bottom: 12px;
	padding-left: 12px;

	outline: none;
}

.search__form,
.signin {
	display: none;
}

.search__form {
	width: 341px;
	padding: 20px 15px;
}

.search,
.header-user__list,
.cart {
	position: relative;

	margin-bottom: 10px;
	margin-left: 10px;
}

.header-user__link {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;

	background-color: var(--white-alpha-2);

	display: flex;
	align-items: center;

	min-height: 32px;
	border-radius: 20px;
	padding-left: 16px;
	padding-right: 16px;
}

.search .search__btn {
	min-width: 32px;
	border: 0;
	padding: 0;
}

.search__btn:hover + .search__form,
.search__form:hover,
.search:focus-within .search__form {
	display: block;
}

.header-user__link:hover,
.header-user__link:focus,
.cart__info.cart__info--full {
	background-color: var(--basic-white);
	color: var(--basic-almost-black);
}

.header-user__svg.search__btn-svg {
	margin: auto;
}

.header-user__svg {
	fill: var(--basic-white);
	margin-right: 8px;
}

.cart__svg--fill {
	fill: none;
}

.search__btn:hover .search__btn-svg,
.search__btn:focus .search__btn-svg {
	fill: var(--basic-almost-black);
}

.header-user__link--login:hover .header-user__svg--login,
.header-user__link--login:focus .header-user__svg--login {
	fill: var(--basic-almost-black);
}

.cart__info:hover .cart__svg,
.cart__info:focus .cart__svg,
.cart__info--full .cart__svg {
	fill: var(--basic-almost-black);
}

.cart__info--full .cart__svg--fill {
	fill: var(--special-orange-bright);
}

.header-user__item:hover .signin,
.signin:hover,
.header-user__item:focus-within .signin {
	display: block;
}

.signin {
	width: 277px;
	padding: 20px 17px 22px 19px;
}

.signin p {
	margin: 0;
	margin-bottom: 20px;
}

.signin__links-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.signin__link-wrapper {
	order: 2;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.signin__link {
	font-size: 13px;
	line-height: 13px;

	color: var(--basic-almost-black);

	display: inline-flex;

	border-bottom: 1px solid var(--grey-alpha-3);
	margin-bottom: 7px;
}

.signin__link:hover,
.signin__link:focus {
	color: var(--special-orange-bright);
	border-bottom-color: var(--red-alpha-3);
}

.signin__btn {
	font-weight: bold;
	font-size: 18px;
	line-height: 16px;

	color: var(--basic-white);

	order: 1;
	border: 0;
	border-radius: 26px;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 25px;
	padding-right: 26px;
}

.cart__info--full:hover + .cart__table-wrapper,
.cart__table-wrapper:hover,
.cart:focus-within .cart__table-wrapper {
	display: flex;
}

.cart__table-wrapper {
	color: var(--basic-almost-black);
	font-size: 13px;
	line-height: 16px;

	display: none;
	flex-direction: column;

	width: 539px;
	padding-top: 12px;
	padding-bottom: 23px;
	padding-left: 15px;
	padding-right: 14px;
}

.cart__table {
	padding-left: 3px;
}

.cart__table-row {
	display: flex;

	width: 485px;
	padding-top: 5px;
	margin-bottom: 13px;
}

.cart__table-cell:not(.cart__table-cell--amount) {
	margin-right: 9px;
}

.cart__table-cell--delete {
	padding-top: 5px;
}

.cart__table-cell--title,
.cart__table-cell--amount {
	padding-top: 9px;
}

.cart__table-cell--title {
	width: 218px;
}

.cart__table-cell--amount {
	margin-left: auto;
}

.cart__table-btn {
	background-color: transparent;
	background-image: url("../img/cross-small.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	width: 11px;
	height: 11px;
	border: 0;
	padding: 0;

	cursor: pointer;
}

.cart__img-wrapper {
	width: 33px;
	height: 33px;
}

.cart__table p {
	margin: 0;
}

.cart__amount {
	color: var(--basic-black);
}

.cart__price {
	color: var(--basic-grey-lighter);
	margin-right: 26px;
}

.cart hr {
	border: 0;
	border-top: 1px solid #cacac7;
	margin: 0;
	margin-bottom: 15px;
}

.cart__total {
	font-weight: 700;
	font-size: 15px;
	line-height: 16px;

	align-self: flex-end;

	margin: 0;
	margin-bottom: 16px;
}

.cart__total output {
	margin-left: 2px;
}

.cart__link {
	font-weight: 700;
	font-size: 18px;
	line-height: 16px;

	align-self: flex-end;
	display: inline-flex;

	border-radius: 26px;
	padding: 13px 15px;
}

.header-info {
	font-weight: 700;

	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.header-info__hours {
	font-size: 14px;
	line-height: 16px;

	margin: 0;
	margin-top: -4px;
	margin-bottom: 8px;
}

.header-info__contacts {
	position: relative;
	z-index: 5;

	margin: 0;
}

.header-info__contacts a {
	font-size: 22px;
	line-height: 24px;
}

.header-info__contacts a:hover,
.header-info__contacts a:focus {
	color: var(--special-coral-light);
}

/* Промо слайдер */

.slider {
	margin-bottom: 40px;
}

.slider__controls {
	position: absolute;
	top: 563px;
}

.slider__controls-btn {
	background-color: transparent;

	display: inline-flex;

	width: 21px;
	height: 21px;

	border: 2px solid var(--basic-white);
	border-radius: 50%;
	padding: 0;
	margin-right: 4px;
}

.slider__controls-btn.slider__controls-btn--active {
	background-color: var(--basic-white);
}

.slider__item {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;

	min-height: 483px;
}

.slider__item:not(:first-child) {
	display: none;
}

.slider__img-wrapper {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;

	width: 1200px;
	height: 966px;
}

.slider__title {
	font-size: 60px;
	line-height: 60px;
	text-align: center;

	max-width: 672px;
	margin: 0;
	margin-bottom: 27px;
}

.slider__link {
	font-weight: 700;
	font-size: 32px;
	line-height: 44px;

	display: inline-flex;

	border-radius: 70px;
	padding-top: 8px;
	padding-bottom: 11px;
	padding-left: 40px;
	padding-right: 40px;
}

/* Промоакции */

.promo {
	margin-bottom: 40px;
}

.promo .container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 26px;
	row-gap: 20px;
}

.promo__item {
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;

	display: flex;
	flex-direction: column;

	width: 560px;
	border-radius: 16px;
	padding-top: 14px;
	padding-bottom: 22px;
}

.promo__item--raspberry {
	background-color: var(--bg-raspberry);
	background-image: url("../img/raspberry.jpg");
}

.promo__item--chocolate {
	background-color: var(--bg-chocolate);
	background-image: url("../img/chocolate.jpg");
}

.promo__title {
	font-size: 35px;
	line-height: 41px;

	margin: 0;

	margin-bottom: 17px;
	margin-left: 16px;
}

.promo__txt {
	margin: 0;
	margin-left: 16px;
	margin-bottom: 43px;
}

.promo__txt,
.promo__link {
	font-weight: 700;
	font-size: 18px;
}

.promo__link {
	line-height: 24px;

	align-self: flex-end;

	border-radius: 70px;
	padding-top: 11px;
	padding-bottom: 13px;
	padding-left: 22px;
	padding-right: 23px;
	margin-right: 22px;
}

/* Хиты */

.hits {
	margin-bottom: 33px;
}

.hits__list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 26px;
	row-gap: 25px;
}

.hits__item {
	position: relative;

	display: flex;
	flex-direction: column;
}

.hits__item:hover .hits__btn-wrapper,
.hits__item:focus-within .hits__btn-wrapper {
	display: flex;
}

.hits__item--hit::before {
	content: "";

	background-image: url("../img/hit.svg");

	position: absolute;
	top: 0;
	z-index: 5;

	width: 61px;
	height: 61px;
}

.hits__item-wrapper {
	position: relative;
}

.hits__item:hover .hits__item-wrapper {
	z-index: 2;
}

.hits__img-wrapper {
	width: 267px;
	height: 267px;
}

.hits__img-wrapper img {
	background-color: transparent;
	object-fit: contain;
}

.hits__title {
	font-size: inherit;
	font-weight: 500;
	text-align: center;

	margin: 0;
	margin-top: 13px;
	margin-bottom: 7px;
}

.hits__title span {
	box-shadow: inset 0 -1px var(--white-alpha-2);
}

.hits__price {
	font-weight: 700;
	font-size: 45px;
	line-height: 45px;

	text-shadow: 0px 1px 3px var(--grey-alpha-5);

	position: absolute;
	top: 207px;

	margin: 0;
}

.hits__price span {
	font-size: 30px;
	line-height: 35px;

	margin-left: 5px;
}

.hits__btn-wrapper {
	background-color: var(--white-alpha-2);

	position: absolute;
	top: -6px;
	left: -13px;
	z-index: 1;

	display: none;
	flex-direction: column;
	justify-content: flex-end;

	width: calc(100% + 26px);
	height: calc(100% + 71px);
	border-radius: 4px;
	box-shadow: 0px 20px 20px var(--black-alpha-2);
}

.hits__link {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;

	align-self: center;

	border-radius: 50px;
	padding: 9px 16px;
	margin-bottom: 22px;
}

/* Преимущества */

.strengths {
	margin-bottom: 40px;
}

.strengths__wrapper {
	background-color: var(--bg-waffle);
	background-image: url("../img/waffle.jpg");
	background-position: 0 0;

	color: var(--basic-almost-black);

	border-radius: 16px;
	padding-top: 24px;
	padding-bottom: 31px;
	padding-left: 20px;
}

.strengths__txt {
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;

	margin: 0;
	margin-bottom: 15px;
}

.strengths__list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 22px;
}

.strengths__item {
	position: relative;

	padding-left: 55px;
	padding-right: 10px;
}

.strengths__item:nth-child(even) {
	padding-left: 58px;
}

.strengths__item::before {
	content: "";

	position: absolute;
	top: -8px;
	left: 0;

	width: 49px;
	height: 49px;
	border: 2px solid var(--basic-almost-black);
	border-radius: 50%;
}

.strengths__item:nth-child(even)::before {
	left: 3px;
}

.strengths__item::after {
	content: "";

	position: absolute;

	background-repeat: no-repeat;
	background-position: 0 0;
}

.strengths__item--handmade::after {
	background-image: url("../img/ice-cream.svg");

	top: 0;
	left: 16px;

	width: 16px;
	height: 32px;
}

.strengths__item--farm::after {
	background-image: url("../img/cow.svg");

	top: 4px;
	left: 15px;

	width: 24px;
	height: 24px;
}

.strengths__item--eco::after {
	background-image: url("../img/leaf.svg");

	top: 3px;
	left: 16px;

	width: 16px;
	height: 27px;
}

.strengths__item--termopack::after {
	background-image: url("../img/thermometer.svg");

	top: 3px;
	left: 21px;

	width: 16px;
	height: 26px;
}

/* Блог и подписка */

.blog-newsletter__wrapper {
	margin-bottom: 40px;
}

.blog-newsletter__wrapper .container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 26px;
}

.blog {
	background-color: var(--basic-white);
	background-image: url("../img/strawberry.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;

	color: var(--basic-almost-black);

	border-radius: 16px;
	padding: 18px 20px;
	padding-top: 18px;
	padding-bottom: 68px;
	padding-left: 20px;
	padding-right: 20px;
}

.blog__txt {
	font-weight: 500;

	margin: 0;
	margin-bottom: 2px;
}

.blog__link {
	display: block;

	width: 300px;
	margin-bottom: 20px;
}

.blog__link:hover .blog__title,
.blog__link:focus .blog__title {
	color: var(--special-orange-bright);
	box-shadow: inset 0 -2px var(--red-alpha-3);
}

.blog__title {
	font-size: 24px;
	line-height: 30px;

	color: var(--basic-almost-black);

	display: inline;

	margin: 0;
	box-shadow: inset 0 -2px var(--basic-dark);
}

.newsletter {
	background-color: var(--special-ivory);
	background-image: url("../img/newsletter-bg.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;

	color: var(--basic-grey-dark);

	border-radius: 16px;
	padding: 5px 6px;
}

.newsletter__wrapper {
	background-color: var(--special-ivory);

	height: 100%;
	border-radius: 16px;
	padding: 24px 20px;
}

.newsletter__txt {
	margin: 0;
	margin-bottom: 40px;
}

.newsletter__input {
	min-width: 368px;
	border: 1px solid var(--grey-alpha-52);
	border-radius: 6px;
	padding-top: 12px;
	padding-left: 14px;
	padding-right: 14px;
	padding-bottom: 11px;
	margin-right: 6px;
}

.newsletter__input:hover {
	border: 2px solid var(--grey-alpha-52);
	/* есть ли другой способ чтоб текст не прыгал при ховере */
	padding-left: 13px;
}

.newsletter__input:focus {
	border: 2px solid var(--blue-alpha-52);

	outline: none;
}

.newsletter__input::placeholder {
	color: var(--basic-grey-light);
	opacity: 1;
}

.newsletter__btn {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;

	color: var(--basic-white);

	border: 0;
	border-radius: 70px;
	padding: 10px 19px;
}

/* Контакты */

.contacts {
	color: var(--basic-almost-black);
	margin-bottom: 18px;
}

.contacts .container {
	position: relative;
	padding: 0;
}

.contacts__map-wrapper {
	width: 1200px;
	height: 430px;
}

.contacts__map-wrapper img {
	display: block;
}

.contacts__wrapper {
	background-color: var(--basic-white);

	position: absolute;
	top: 62px;
	right: 27px;

	width: 303px;
	border-radius: 16px;
	padding-top: 29px;
	padding-bottom: 31px;
	padding-left: 25px;
	padding-right: 25px;
}

.contacts__txt {
	font-size: 14px;
	line-height: 20px;

	margin: 0;
	margin-bottom: 21px;
}

.contacts__address,
.contacts__tel {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;

	display: block;
}

.contacts__tel {
	color: inherit;
	margin-top: 2px;
}

.contacts__link {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;

	display: block;
	border-radius: 70px;
	padding-top: 9px;
	padding-bottom: 10px;
	padding-left: 28px;
	padding-right: 28px;
	margin-top: 28px;
}

/* Footer */

.page-footer .container {
	display: flex;
	align-items: center;
}

.footer-nav__item a {
	font-size: 13px;
	line-height: 16px;
}

.footer-nav__item a,
.copyright__link {
	display: inline-flex;
	border-bottom: 1px solid var(--white-alpha-2);
}

.footer-nav__item a:hover,
.copyright__link:hover,
.footer-nav__item a:focus,
.copyright__link:focus {
	color: var(--special-coral-light);
	border-bottom-color: var(--brown-alpha-3);
}

.social__list {
	display: flex;
	flex-wrap: wrap;

	max-width: 180px;
	padding-top: 8px;
}

.social__item {
	margin-right: 8px;
}

.social__link {
	display: inline-flex;

	width: 36px;
	height: 36px;

	border: 2px solid var(--white-alpha-5);
	border-radius: 50%;
}

.social__link::before {
	content: "";

	background-repeat: no-repeat;
	background-position: 0 0;

	width: 32px;
	height: 32px;

	opacity: 0.8;
}

.social__link--fb::before {
	background-image: url("../img/facebook.svg");
}

.social__link--vk::before {
	background-image: url("../img/vk.svg");
}

.social__link--insta::before {
	background-image: url("../img/instagram.svg");
}

.social__link--twitter::before {
	background-image: url("../img/twitter.svg");
}

.social__link:hover::before,
.social__link:focus::before {
	opacity: 1;
}

.social__link:active {
	border-color: var(--white-alpha-7);
}

.footer-nav__list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 3px;
	row-gap: 6px;

	margin-top: 7px;
	margin-left: auto;
}

.footer-nav__item {
	display: inline-flex;
}

.footer-nav__item:nth-child(odd):not(.footer-nav__item--suppliers) {
	padding-left: 22px;
}

.footer-nav__item--suppliers {
	font-weight: 700;
}

.footer-nav__item--suppliers::before {
	content: "";

	background-image: url("../img/heart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	width: 15px;
	height: 13px;
	margin-top: 3px;
	margin-right: 7px;
}

.copyright {
	margin-left: 229px;
}

.copyright__logo-link {
	display: block;
}

.copyright__txt,
.copyright__link {
	font-size: 12px;
	line-height: 18px;
}

.copyright__txt {
	margin: 0;
}

/* Модалка */

.modal {
	position: fixed;
	top: calc(50% - 219px);
	left: calc(50% - 477px/2);
	z-index: 10;

	display: none;
}

.feedback {
	background-color: var(--special-ivory);
	color: var(--basic-almost-black);

	width: 477px;
	border-radius: 6px;
	padding-top: 14px;
	padding-bottom: 27px;
}

.modal__top-row {
	display: flex;
	justify-content: space-between;

	padding-left: 23px;
	padding-right: 16px;
	margin-bottom: 20px;
}

.modal__title {
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;

	margin: 0;
}

.modal__close {
	background-color: transparent;
	background-image: url("../img/cross-big.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	width: 18px;
	height: 17px;
	border: 0;
	padding: 0;
}

.feedback__form {
	display: flex;
	flex-direction: column;

	padding-left: 24px;
	padding-right: 25px;
}

.feedback p:not(.modal__title) {
	margin: 0;
	margin-bottom: 20px;
}

.feedback__input,
.feedback__textarea {
	font-weight: 700;
	line-height: 20px;

	border: 1px solid var(--grey-alpha-52);
	border-radius: 4px;
	padding-top: 10px;
	padding-bottom: 11px;
	padding-left: 13px;
	padding-right: 13px;
}

.feedback__input:hover,
.feedback__textarea:hover {
	border: 2px solid var(--grey-alpha-52);
	padding-top: 9px;
	padding-bottom: 10px;
	padding-left: 12px;
	padding-right: 12px;
}

.feedback__input:focus,
.feedback__textarea:focus {
	border: 2px solid var(--blue-alpha-52);
	padding-top: 9px;
	padding-bottom: 10px;
	padding-left: 12px;
	padding-right: 12px;

	outline: none;
}

.feedback__input::placeholder,
.feedback__textarea::placeholder {
	font-weight: normal;
	color: var(--basic-grey-light);

	opacity: 1;
}

.feedback__input {
	width: 267px;
}

.feedback__textarea {
	width: 100%;
	height: 154px;

	overflow: scroll;
	resize: none;
}

.feedback__submit {
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;

	color: var(--basic-white);

	align-self: flex-end;

	border: 0;
	border-radius: 70px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 24px;
	padding-right: 24px;
}

/* Catalog */

.page--catalog {
	background: var(--bg-green) linear-gradient(180deg, var(--white-alpha-2) 0%, var(--white-alpha-0) 40%);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.page-content--catalog > .container {
	transform: translateY(-26px);
}

.breadcrumbs__list {
	display: flex;
}

.breadcrumbs__item {
	margin-right: 8px;
	display: inline-flex;
	align-items: center;
}

/* .breadcrumbs__item:not(:first-child) {
	padding-left: 15px;
} */

.breadcrumbs__item a {
	font-size: 14px;
	line-height: 16px;
}

.breadcrumbs__item a[href] {
	border-bottom: 1px solid var(--white-alpha-2);
}

.breadcrumbs__item a[href]:hover,
.breadcrumbs__item a[href]:focus {
	color: var(--special-coral-light);
	border-bottom-color: var(--brown-alpha-3);
}

.breadcrumbs__item:not(:first-child)::before {
	content: "";

	background-image: url("../img/double-arrow.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	width: 6px;
	height: 6px;
	margin-right: 9px;
}

.page-title {
	font-size: 35px;
	line-height: 41px;

	margin: 0;
}

/* Фильтр */

.filter {
	margin-bottom: 34px;
}

.filter__form {
	display: flex;
	flex-wrap: wrap;

	width: 887px;
}

.filter__form fieldset {
	position: relative;

	border: 0;
	padding: 0;
	margin: 0;
	margin-bottom: 12px;
	margin-right: 15px;
}

.filter__select,
.filter__form label,
.filter__submit {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;

	color: inherit;
}

.filter__name {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;

	margin-left: 16px;
	margin-bottom: 6px;
}

.filter__form label {
	position: relative;

	display: inline-flex;
}

.filter__sort-svg {
	fill: var(--special-sheerice);

	position: absolute;
	top: 14px;
	right: 14px;
}

.filter__select {
	background-color: var(--white-alpha-2);

	border: 0;
	border-radius: 26px;
	padding-top: 9px;
	padding-bottom: 10px;
	padding-left: 12px;
	padding-right: 31px;

	-webkit-appearance: none;
	-moz-appearance: none;

	cursor: pointer;
}

.filter__select:hover {
	color: var(--basic-almost-black);
}

.filter__select:hover + .filter__sort-svg {
	fill: var(--basic-almost-black);
}

.filter__select:focus {
	background-color: var(--basic-white);
	color: var(--basic-almost-black);
}

.filter__select:focus + .filter__sort-svg {
	fill: var(--basic-almost-black);
}

.filter__option {
	color: var(--basic-almost-black);
}

.filter__price .filter__name {
	float: left;
	margin-right: 3px;
}

.filter__price-info {
	transform: translateY(-3px);
}

.filter__num {
	font-size: 14px;
	line-height: 16px;

	background-color: transparent;
	color: inherit;

	width: 25px;
	border: 0;

	-webkit-appearance: none;
	-moz-appearance: textfield;
}

.filter__price-range {
	clear: both;

	background-color: var(--white-alpha-2);

	width: 218px;
	height: 36px;
	border-radius: 20px;
	padding-top: 17px;
	padding-left: 21px;
}

.filter__scale {
	background-color: var(--space-alpha-5);

	width: 176px;
	height: 2px;
}

.filter__bar {
	background-color: var(--basic-space);

	width: 60%;
	height: 100%;
	margin-left: 15px;
}

.filter__toggle-btn {
	background-color: var(--basic-grey-lighter);

	position: absolute;
	top: 30px;

	width: 20px;
	height: 20px;
	border: 8px solid var(--basic-white);
	border-radius: 50%;
	padding: 0;

	cursor: pointer;
}

.filter__toggle-btn--min {
	left: 34px;
}

.filter__toggle-btn--max {
	left: 132px;
}

.filter__toggle-btn:hover,
.filter__toggle-btn:focus {
	width: 22px;
	height: 22px;
	border-width: 9px;
}

.filter__fat-amount .filter__list {
	background-color: var(--white-alpha-2);

	display: flex;
	flex-wrap: wrap;

	border-radius: 20px;
	padding-top: 9px;
	padding-bottom: 5px;
	padding-left: 15px;
}

.filter__fat-amount .filter__item {
	padding-left: 32px;
	margin-right: 20px;
}

.filter__radio + label::before {
	content: " ";

	position: absolute;
	top: -3px;
	left: -33px;

	width: 22px;
	height: 22px;
	border: 3px solid var(--basic-white);
	border-radius: 50%;

	opacity: 0.8;
}

.filter__radio:checked + label::after {
	content: "";

	background-color: var(--basic-white);

	position: absolute;
	top: 4px;
	left: -26px;

	width: 8px;
	height: 8px;
	border-radius: 50%;

	opacity: 0.8;
}

.filter__radio + label:hover::before,
.filter__radio + label:hover::after {
	opacity: 1;
}

.filter__radio:disabled + label,
.filter__radio:disabled + label::before,
.filter__radio:disabled + label::after {
	opacity: 0.4;
	cursor: not-allowed;
}

.filter__toppings .filter__list {
	background-color: var(--white-alpha-2);
	display: flex;
	flex-wrap: wrap;

	border-radius: 20px;
	padding-top: 6px;
	padding-bottom: 8px;
	padding-left: 15px;
}

.filter__toppings .filter__item {
	padding-left: 33px;
	margin-right: 19px;
}

.filter__checkbox + label::before {
	content: "";

	position: absolute;
	top: 0;
	left: -32px;

	width: 20px;
	height: 20px;
	border: 2px solid var(--basic-white);
	border-radius: 2px;
	opacity: 0.8;
}

.filter__checkbox:checked + label::before {
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	width: 24px;
	height: 20px;
	border: none;
}

.filter__checkbox + label:hover::before,
.filter__item:focus-within label::before,
.filter__item:focus-within label::after {
	opacity: 1;
}

.filter__checkbox:disabled + label,
.filter__checkbox:disabled + label::before {
	opacity: 0.4;
	cursor: not-allowed;
}

.filter__submit {
	background: var(--white-alpha-2);

	align-self: flex-end;

	min-height: 36px;
	border: 2px solid var(--basic-white);
	border-radius: 20px;
	padding-top: 7px;
	padding-bottom: 6px;
	padding-left: 26px;
	padding-right: 27px;
	margin-bottom: 12px;
	margin-left: auto;
	margin-right: 15px;
}

.filter__submit:hover,
.filter__submit:focus {
	background-color: var(--basic-white);
	color: var(--basic-almost-black);

	border: 0;
}

.filter__submit:active {
	box-shadow: inset 0px 2px 1px var(--basic-grey);
}

/* Вкусы Мороженого */

.products {
	margin-bottom: 48px;
}

.products__list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 26px;
	row-gap: 25px;
	margin-bottom: 65px;
}

.products__item {
	position: relative;

	display: flex;
	flex-direction: column;
}

/* :focus-within не работает */
.products__item:hover .products__btn-wrapper,
.products__item:focus-within .products__btn-wrapper {
	display: flex;
}

.products__item-wrapper {
	position: relative;
}

.products__item:hover .products__item-wrapper {
	z-index: 2;
}

.products__img-wrapper {
	width: 267px;
	height: 267px;
}

.products__img-wrapper img {
	background-color: transparent;
	object-fit: contain;
}

.products__title {
	font-size: inherit;
	font-weight: 500;
	text-align: center;

	margin: 0;
	margin-top: 13px;
	margin-bottom: 11px;
}

.products__title span {
	box-shadow: inset 0 -1px var(--white-alpha-2);
}

.products__price {
	font-weight: 700;
	font-size: 45px;
	line-height: 45px;

	text-shadow: 0px 1px 3px var(--grey-alpha-5);

	position: absolute;
	top: 207px;

	margin: 0;
}

.products__price span {
	font-size: 30px;
	line-height: 35px;

	margin-left: 5px;
}

.products__btn-wrapper {
	background-color: var(--white-alpha-2);

	position: absolute;
	top: -6px;
	left: -13px;
	z-index: 1;

	display: none;
	flex-direction: column;
	justify-content: flex-end;

	width: calc(100% + 26px);
	height: calc(100% + 71px);
	border-radius: 4px;
	box-shadow: 0px 20px 20px var(--black-alpha-2);
}

.products__link {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;

	align-self: center;

	border-radius: 50px;
	padding: 12px 16px;
	margin-bottom: 22px;
}

/* Pagination */

.pagination {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
}

.pagination__btn {
	background-image: url("../img/arrow.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	display: inline-flex;

	width: 7px;
	height: 12px;
}

.prev {
	transform: scaleX(-1);
	opacity: 0.2;
}

.pagination__list {
	display: flex;
	flex-wrap: wrap;

	max-width: 360px;
	margin-left: 16px;
	margin-right: 14px;
}

.pagination__item {
	margin-right: 4px;
}

.pagination__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 26px;
	height: 26px;
	border-radius: 50%;
}

.pagination__link:hover,
.pagination__link:focus {
	background-color: var(--white-alpha-2);
}

.pagination__link:active,
.pagination__link:not([href]) {
	background-color: var(--basic-white);
	color: var(--basic-almost-black);
}
